
<div class="input-group">
                <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Browse&hellip; <input type="file" style="display: none;" multiple>
                    </span>
                </label>
                <input type="text" class="form-control" readonly>
            </div>

            <div class="container">
<h2>Bootstrap File upload demo</h2>
    <div class="col-xs-4">
    	<div class="form-group">
	      <label class="control-label">File upload with different text</label>
	      <input type="file" class="filestyle" data-buttonText="Select a File">
		</div>
    </div>
</div>