/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00d278; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00d278; }

.creator-poster {
  margin-bottom: 2; }
  .creator-poster .background-image {
    position: relative;
    width: 100%;
    top: 0px;
    left: 10px; }
  .creator-poster .profile-image {
    position: absolute;
    top: 7% !important;
    left: 30% !important; }
    .creator-poster .profile-image ul {
      list-style: none;
      color: #e4e2e2;
      padding: 0;
      margin: 0;
      text-align: center; }
      .creator-poster .profile-image ul img {
        border: 2px solid #000; }
      .creator-poster .profile-image ul .menu {
        text-align: center;
        vertical-align: middle; }
        .creator-poster .profile-image ul .menu .name {
          font-family: Larsseit-Bold; }
        .creator-poster .profile-image ul .menu .location {
          font-family: Larsseit-Medium;
          color: grey; }
        .creator-poster .profile-image ul .menu #tags li {
          text-align: center;
          border: grey 1px solid;
          border-radius: 5px;
          color: grey;
          padding-left: 2px;
          padding-right: 2px;
          padding-bottom: 2px;
          font-family: Larsseit-Medium; }
        .creator-poster .profile-image ul .menu .share {
          padding-top: 50%;
          font-family: Larsseit-Medium; }
          .creator-poster .profile-image ul .menu .share .facebook {
            background-color: #3B5998;
            color: #e4e2e2; }
          .creator-poster .profile-image ul .menu .share .tweetr {
            background-color: #1DA1F2;
            color: #e4e2e2; }
          .creator-poster .profile-image ul .menu .share .url {
            color: darkgrey; }

.creator-content {
  margin: 5%; }
  .creator-content .section-1 {
    margin-bottom: 10%;
    border-bottom: 1px solid #e4e2e2; }
    .creator-content .section-1 .creator-about {
      color: #00d278; }
    .creator-content .section-1 .creator-description::first-line {
      font-weight: bold; }
  .creator-content .section-2 {
    margin-bottom: 10%;
    border-bottom: 1px solid #e4e2e2;
    padding-bottom: 5%; }
    .creator-content .section-2 .gallery {
      height: 300px !important;
      overflow-y: auto;
      overflow-x: hidden; }
    .creator-content .section-2 h4 {
      color: #00d278; }
    .creator-content .section-2 #gallery {
      margin: 15px;
      margin-right: 55px; }
  .creator-content .section-2::after {
    height: 100px; }
  .creator-content .section-3 h4 {
    color: #00d278; }
  .creator-content .section-3 .members li {
    list-style: none; }
    .creator-content .section-3 .members li .desc {
      color: #e4e2e2;
      font-size: 0.9em; }

.creator-sidebar {
  border-left: 1px solid #e4e2e2;
  padding-left: 5%; }
  .creator-sidebar .row {
    padding-left: 5%; }
  .creator-sidebar #fantipButton {
    background-color: #fff;
    border: #fff;
    margin-bottom: 40px; }
  .creator-sidebar h2 {
    font-family: Larsseit-Bold; }
  .creator-sidebar h3 {
    font-family: Larsseit-Bold;
    color: #00d278; }
  .creator-sidebar .top-fans {
    margin-top: 15px;
    color: #00d278; }

.bottom-section {
  padding-top: 5%;
  padding-left: 3%;
  width: 100%;
  background-color: #e4e2e2; }
  .bottom-section .creator-main {
    height: 300px !important;
    overflow-x: hidden;
    overflow-y: auto; }
    .bottom-section .creator-main .messages-section {
      margin: 20px; }
      .bottom-section .creator-main .messages-section .messages #message-object {
        padding-bottom: 10px; }
        .bottom-section .creator-main .messages-section .messages #message-object #each-message {
          background: #00d278;
          padding-left: 5px; }
  .bottom-section .fantip-button {
    height: 160px !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .bottom-section .fantip-button h4 {
      font-family: Larsseit-Bold;
      color: #00d278;
      padding-top: 5%; }
  .bottom-section .fanbase {
    border-left: 2px solid #fff; }
